{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete Exam" %}{% endblock meta_title %}
{% block title %}"Delete Exam" %}{% endblock title %}

{% block content %}
<form action="{% url 'exams_delete' object.id %}" method="post">
    {% csrf_token %}
    <p>
        {% blocktrans %}Do you really want to delete exam: "{{ object }}"?{% endblocktrans %}
    </p>
    <input type="submit" value="Так" name="delete_button" class="btn btn-danger" /><br /><br />
</form>
{% endblock content %}