{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Exams" %}{% endblock meta_title %}

{% block title %}{% trans "Exams" %}{% endblock title %}

{% block content %}
  <a href="{% url 'exams_add' %}" class="btn btn-primary">{% trans "Add Exam" %}</a>

  <!-- Start Students Listing -->
  <table class="table">
      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <thead>
          <tr>
            <th>
                No
            </th>
            <th>
              <a href="{% url 'exams' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Discipline" %}
                {% if order_by == 'title' and reverse != '1' or reverse_begin%}&uarr;
                {% elif order_by == 'title' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'exams' %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Teacher" %}
                {% if order_by == 'teacher' and reverse != '1' %}&uarr;
                {% elif order_by == 'teacher' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'exams' %}?order_by=exam_group{% if order_by == 'exam_group' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Group" %}
                {% if order_by == 'exam_group' and reverse != '1' %}&uarr;
                {% elif order_by == 'exam_group' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>{% trans "Action" %}</th>
          </tr>
        </thead>
      {% endwith %}
    <tbody>
      {% for exam in exams %}
        <tr>
          <td>
              {% if is_paginated %}
                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
              {% else %}
                {{ forloop.counter }}
              {% endif %}
          </td>
          <td><a href="{% url 'exams_edit' exam.id %}">{{ exam.title }}</a></td>
          <td><a href="{% url 'exams_edit' exam.id %}">{{ exam.teacher }}</a></td>
          <td><a href="{% url 'exams_edit' exam.id %}">{{ exam.exam_group }}</a></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">{% trans "Action" %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'exams_edit' exam.id %}">{% trans "Edit" %}</a></li>
                <li><a href="/journal/{{ student.id }}">{% trans "Journal" %}</a></li>
                <li><a href="{% url 'exams_delete' exam.id %}">{% trans "Delete" %}</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Students Listing -->
<!-- Pages navigation block -->

{% with object_list=exams %}
  {% include "students/pagination.html" %}
{% endwith %}


{% endblock content %}

