{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи Студентів{% endblock title %}

{% block content %}
  <a href="{% url 'groups_add' %}" class="btn btn-primary">Додати групу</a>

  <!-- Start Students Listing -->
  <table class="table">
    <thead>
      <tr>
        <th><a href="#">#</a></th>
        <th><a href="#">Назва групи &uarr;</a></th>
        <th><a href="#">Староста</a></th>
        <th><a href="#">Нотатки</a></th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'groups_edit' group.id %}">{{ group.group_name }}</a></td>
          <td><a href="{% url 'groups_edit' group.id %}">{{ group.boss }}</a></td>
          <td>{{ group.note }}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">Дія
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'groups_edit' group.id %}">Редагувати</a></li>
                <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
                <li><a href="{% url 'groups_delete' group.id %}">Видалити</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Students Listing -->
{% include 'students/pagination.html' %}
{% endblock content %}
