{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи Студентів{% endblock title %}

{% block content %}
  <a href="{% url 'groups_add' %}" class="btn btn-primary">Додати групу</a>

  <!-- Start Students Listing -->
  <table class="table">
    <tbody>
      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <thead>
          <tr>
            <th>
                No
            </th>
            <th>
              <a href="{% url 'groups' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Назва групи
                {% if order_by == 'title' and reverse != '1' or reverse_begin%}&uarr;
                {% elif order_by == 'title' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                Староста
                {% if order_by == 'leader' and reverse != '1' %}&uarr;
                {% elif order_by == 'leader' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>Дії</th>
          </tr>
        </thead>
      {% endwith %}

      {% for group in groups %}
        <tr>
          <td>
              {% if is_paginated %}
                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
              {% else %}
                {{ forloop.counter }}
              {% endif %}
          </td>
          <td><a href="{% url 'groups_edit' group.id %}">{{ group.title }}</a></td>
          <td><a href="{% url 'students_edit' group.id %}">{{ group.leader }}</a></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">Дія
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'groups_edit' group.id %}">Редагувати</a></li>
                <li><a href="/journal/{{ student.id }}">Відвідування</a></li>
                <li><a href="{% url 'groups_delete' group.id %}">Видалити</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Students Listing -->
<!-- Pages navigation block -->

{% with object_list=groups %}
  {% include "students/pagination.html" %}
{% endwith %}


{% endblock content %}

