{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Rating" %}{% endblock meta_title %}

{% block title %}{% trans "Rating" %}{% endblock title %}
{% load pagemore %}

{% block content %}


  <div class="row">
    <div class="col-xs-5">
      <a href="{% url 'ratings_add' %}" class="btn btn-primary">{% trans "Add Rating" %}</a>
    </div>
    <div class="col-xs-7">
      <!-- Search field -->
      <form action="." method="get" class="form-horizontal">
        <label for="search_quwery" class="col-xs-6 control-label">{% trans "Search by student Last name" %}</label>
        <div class="col-xs-4">
          <input type="text" name="search_quwery" class="form-control">
        </div>
          <input type="submit" value="{% trans 'Search' %}" class="btn btn-primary">
      </form>
    </div>
  </div>



  <!-- Start Rating Listing -->
  <table class="table">

      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <thead>
          <tr>
            <th>No</th>
            <th>
              <a href="{% url 'ratings' %}?order_by=student_ball{% if order_by == 'student_ball' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Student" %}
                {% if order_by == 'student_ball' and reverse != '1' or reverse_begin%}&uarr;
                {% elif order_by == 'student_ball' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=exam_title{% if order_by == 'exam_title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Discipline" %}
                {% if order_by == 'exam_title' and reverse != '1' %}&uarr;
                {% elif order_by == 'exam_title' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=date_exam{% if order_by == 'date_exam' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Date" %}
                {% if order_by == 'date_exam' and reverse != '1' %}&uarr;
                {% elif order_by == 'date_exam' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=ball{% if order_by == 'ball' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Rating" %}
                {% if order_by == 'ball' and reverse != '1' %}&uarr;
                {% elif order_by == 'ball' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>{% trans "Action" %}</th>
          </tr>
        </thead>
      {% endwith %}
    <tbody>
{% more_paginator ratings per_page=7 as paginator %}
{% for rating in paginator.objects %}
{% if forloop.first %}
<div class="pagemore-container">
{% endif %}

        <tr>
          <td>
              {% if is_paginated %}
                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
              {% else %}
                {{ forloop.counter }}
              {% endif %}
          </td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.student_ball }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.exam_title }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.date_exam }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.ball }}</a></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">{% trans "Action" %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'ratings_edit' rating.id %}">{% trans "Edit" %}</a></li>
                <li><a href="/journal/{{ student.id }}">{% trans "Journal" %}</a></li>
                <li><a href="{% url 'ratings_delete' rating.id %}">{% trans "Delete" %}</a></li>
              </ul>
            </div>
          </td>
        </tr>


{% if forloop.last %}
</div>

{% if paginator.has_more %}
<a class="pagemore-paginator" href="?{{paginator.next_query}}">More items...</a>
{% endif %}
{% endif %}
{% endfor %}


    </tbody>
  </table>
  <!-- End Righting Listing -->








{% with object_list=ratings %}
  {% include "students/pagination.html" %}
{% endwith %}


{% endblock content %}

<script type="text/javascript" src="{{STATIC_URL}}pagemore/js/pagemore.js"></script>
<script type="text/javascript">
    $(function() { $(".pagemore-paginator").pagemore(); });
</script>