{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Rating" %}{% endblock meta_title %}

{% block title %}{% trans "Rating" %}{% endblock title %}

{% block content %}
  <a href="{% url 'ratings_add' %}" class="btn btn-primary">{% trans "Add Rating" %}</a>

  <!-- Start Students Listing -->
  <table class="table">

      {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
        <thead>
          <tr>
            <th>No</th>
            <th>
              <a href="{% url 'ratings' %}?order_by=student_ball{% if order_by == 'student_ball' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Student" %}
                {% if order_by == 'student_ball' and reverse != '1' or reverse_begin%}&uarr;
                {% elif order_by == 'student_ball' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=exam_title{% if order_by == 'exam_title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Discipline" %}
                {% if order_by == 'exam_title' and reverse != '1' %}&uarr;
                {% elif order_by == 'exam_title' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=date_exam{% if order_by == 'date_exam' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Date" %}
                {% if order_by == 'date_exam' and reverse != '1' %}&uarr;
                {% elif order_by == 'date_exam' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>
              <a href="{% url 'ratings' %}?order_by=ball{% if order_by == 'ball' and reverse != '1' %}&amp;reverse=1{% endif %}">
                {% trans "Rating" %}
                {% if order_by == 'ball' and reverse != '1' %}&uarr;
                {% elif order_by == 'ball' and reverse == '1' %}&darr;
                {% endif %}
              </a>
            </th>
            <th>{% trans "Action" %}</th>
          </tr>
        </thead>
      {% endwith %}
    <tbody>
      {% for rating in ratings %}
        <tr>
          <td>
              {% if is_paginated %}
                {{ page_obj.start_index|add:forloop.counter|add:"-1" }}
              {% else %}
                {{ forloop.counter }}
              {% endif %}
          </td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.student_ball }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.exam_title }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.date_exam }}</a></td>
          <td><a href="{% url 'ratings_edit' rating.id %}">{{ rating.ball }}</a></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown">{% trans "Action" %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'ratings_edit' rating.id %}">{% trans "Edit" %}</a></li>
                <li><a href="/journal/{{ student.id }}">{% trans "Journal" %}</a></li>
                <li><a href="{% url 'ratings_delete' rating.id %}">{% trans "Delete" %}</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End Righting Listing -->

{% with object_list=ratings %}
  {% include "students/pagination.html" %}
{% endwith %}


{% endblock content %}

